<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Title: ' + ${title} + ' .'" />
    <form>
        <table>
            <tbody>
                <tr>
                    <th>a1</th>
                    <th>a2</th>
                </tr>
                <tr>
                    <td>b1</td>
                    <td>b2</td>
                </tr>
            </tbody>
        </table>
        <input type="text" value="abc"/>
        <input type="submit" value="OK"/>
    </form>
</body>
</html>